WebContent/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rest.magic.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rest.magic.com" xmlns:intf="http://rest.magic.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://rest.magic.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTrackInJSON">
    <complexType>
     <sequence>
      <element name="title" type="xsd:string"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrackInJSONResponse">
    <complexType>
     <sequence>
      <element name="getTrackInJSONReturn" type="impl:Track"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Track">
    <sequence>
     <element name="singer" nillable="true" type="xsd:string"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTrackInJSONResponse">

      <wsdl:part element="impl:getTrackInJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrackInJSONRequest">

      <wsdl:part element="impl:getTrackInJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="getTrackInJSON">

         <wsdl:input message="impl:getTrackInJSONRequest" name="getTrackInJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTrackInJSONResponse" name="getTrackInJSONResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTrackInJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTrackInJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTrackInJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/Rest/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
